body {
    margin: 0;
    padding: 0;
    outline: 0;
    min-height: 100vh;
    background-color: #ffffff;
    color: white;
}
h1,h2,h4,p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

#banner_container {
    background-color: #043873;
    min-height: 100vh;
}

.banner {
    max-width: 1200px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

}

.header {
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-right {
    display: flex;
    gap: 60px;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.header-logo img {
    width: 40px;
}

.header-logo .logo-text {
    font-size: 28px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-links .dropdown {
    transition: color 0.3s ease;
}

.nav-links .dropdown:hover {
    color: #FBC54E;
}

.header-buttons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.btn {
    padding: 16px 24px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn.login {
    background-color: #FBC54E;
    color: #273752;
}

.btn.login:hover {
    background-color: #f9b300;
}

.btn.call-to-action {
    background-color: #4F9CF9;
    color: #ffffff;
    display: flex;
    gap: 8px;
    align-items: center;
    max-width: fit-content;
}
.btn.call-to-action i{
    margin-top: 6px;
}

.btn.call-to-action:hover {
    background-color: #2385fc;
}

/* HERO  */

.hero-section {
    display: grid;
    grid-template-columns: 7fr 5fr;
    align-items: center;
    gap: 50px;
}
.hero-section.banner-hero {
    min-height: calc(100vh - 92px);
}

.hero-content {
   width: fit;

}

h2.hero-title {
    font-size: 64px;
    font-weight: bold;
    line-height: 120%;
    margin-bottom: 30px;
}

.hero-description {
    font-size: 18px;
    line-height: 1.6;
    color: #C8D1E6;
    margin-bottom: 50px;
}

.hero-image {
    text-align: center;
}

.hero-image img {

}