body {
    margin: 0;
    padding: 0;
    outline: 0;
    min-height: 100vh;
    background-color: #ffffff;
    color: white;
}

h1,
h2,
h4,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

button {
    border: none;
    background-color: transparent;
}

#banner_container {
    background-color: #043873;
    min-height: 100vh;
}

.content-wrapper {
    max-width: 1200px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
}

/* NAVBAR  */
.header {
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-right {
    display: flex;
    gap: 60px;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.header-logo img {
    width: 40px;
}

.header-logo .logo-text {
    font-size: 28px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 30px;
    align-items: center;
}

.dropdown {
    transition: color 0.3s ease;
}

.dropdown:hover {
    color: #FBC54E;
}

.header-buttons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.btn {
    padding: 16px 24px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn.login {
    background-color: #FBC54E;
    color: #273752;
}

.btn.login:hover {
    background-color: #f9b300;
}

.btn.call-to-action {
    background-color: #4F9CF9;
    color: #ffffff;
    display: flex;
    gap: 8px;
    align-items: center;
    max-width: fit-content;
}

.btn.call-to-action i {
    margin-top: 6px;
}

.btn.call-to-action:hover {
    background-color: #2385fc;
}

.small-device-nav {
    display: none;
}

.small-device-nav i {
    font-size: 22px;
    color: white;
}

.small-device-nav i:hover {
    color: #FBC54E;
}

.side-navbar {
    position: fixed;
    z-index: 10;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    transition: right 0.5s ease;
}

.side-navbar.hidden {
    right: -1400px;
}

.side-navLinks {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 18px;
    padding: 16px;
}

.side-nav-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.nav-close-btn {
    color: white;
    font-size: 22px;
}

/* HERO BANNER  */

.hero-section {
    display: grid;
    grid-template-columns: 7fr 5fr;
    align-items: center;
    gap: 50px;
}

.hero-section.banner-hero {
    min-height: calc(100vh - 92px);
}

.hero-content {
    width: fit;

}

.hero-title {
    font-size: 64px;
    font-weight: bold;
    line-height: 120%;
    margin-bottom: 30px;
}

.hero-description {
    font-size: 18px;
    line-height: 1.6;
    color: #C8D1E6;
    margin-bottom: 50px;
}

.hero-image {
    margin-left: auto;
    margin-right: auto;
}

.hero-image img {
    width: 100%;
}

/* PROJECT + WORK */

.hero-title.project-title,
.work-title {
    font-size: 72px;
    color: #212529;
}

.hero-description.project-description,
.work-description {
    color: #212529;
}

/* WORK  */
.ellipse {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #A7CEFC;
    border-radius: 50%;
    position: relative;
}

.ellipse-large {
    height: 660px;
    width: 660px;
}

.ellipse-small {
    height: 390px;
    width: 390px;
    border: 2px dashed #A7CEFC;
    border-radius: 50%;
}

.ellipse-center {
    height: 100px;
    width: 100px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 50px 0px #26262630;
}

.ellipse-center img {
    width: 60px;
}

.avatar {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    display: flex;
    align-items: end;
    justify-content: center;
}

.avatar img {
    width: 50px;


}

.avatar.blue {
    background-color: #37A3FF;
}

.avatar.green {
    background-color: #0DC46E;
}

.avatar.red {
    background-color: #FF5758;
}

.avatar.yellow {
    background-color: #FFDC4D;
}

.avatar.dark-yellow {
    background-color: #FFBF60;
}

.ellipse-large>.avatar:nth-child(1) {
    top: 10px;
    left: 20%;
    transform: translateX(-20%);
}

.ellipse-large>.avatar:nth-child(2) {
    left: -35px;
    top: 50%;
    transform: translateY(-50%);
}

.ellipse-large>.avatar:nth-child(3) {
    bottom: 10px;
    left: 20%;
    transform: translateX(-20%);
}

.ellipse-large>.avatar:nth-child(4) {
    right: -15px;
    top: 70%;
    transform: translateY(-70%);
}

.ellipse-large>.avatar:nth-child(5) {
    top: 50px;
    right: 10%;
    transform: translateX(-10%);
}

.ellipse-small>.avatar:nth-child(1) {
    left: -35px;
    top: 50%;
    transform: translateY(-50%);
}

.ellipse-small>.avatar:nth-child(2) {
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
}

.ellipse-small>.avatar:nth-child(3) {
    right: -35px;
    top: 50%;
    transform: translateY(-50%);
}

.ellipse-small>.avatar:nth-child(4) {
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 767px) {

    .content-wrapper {
        margin-bottom: 0;
    }

    .header {
        height: 60px;
        padding: 0 16px;
    }

    .header-logo img {
        width: 30px;
    }

    .header-logo .logo-text {
        font-size: 22px;
    }

    .header-right {
        display: none;
    }

    .small-device-nav {
        display: block;
    }

    .hero-section {
        grid-template-columns: 1fr;
        text-align: center;
        min-height: auto;
        padding: 40px 12px;
        gap: 30px;
    }

    .hero-content {
        order: 2;
    }

    .hero-title {
        font-size: 36px;
        margin-bottom: 15px;
    }

    .hero-description {
        font-size: 18px;
        margin-bottom: 20px;
        text-align: justify;
    }

    .btn.call-to-action {
        padding: 12px 18px;
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-image {
        order: 1;
    }

    .ellipse-large {
        height: 300px;
        width: 300px;
        border: 2px dashed #A7CEFC;
    }

    .avatar {
        height: 30px;
        width: 30px;
    }

    .avatar img {
        width: 20px;
    }

    .ellipse-large>.avatar:nth-child(1) {
        top: 15px;
        left: 40px;
    }

    .ellipse-large>.avatar:nth-child(2) {
        left: -10px;
        top: 50%;
        transform: translateY(-50%);
    }

    .ellipse-large>.avatar:nth-child(3) {
        bottom: 15px;
        left: 40px;
    }

    .ellipse-large>.avatar:nth-child(4) {
        right: -5px;
        top: 70%;
        transform: translateY(-70%);
    }

    .ellipse-large>.avatar:nth-child(5) {
        top: 20px;
        right: 40px;
    }

    .ellipse-small {
        height: 150px;
        width: 150px;
        border: 2px dashed #A7CEFC;
    }

    .ellipse-small>.avatar:nth-child(1) {
        left: -15px;
    }

    .ellipse-small>.avatar:nth-child(2) {
        bottom: -15px;
    }

    .ellipse-small>.avatar:nth-child(3) {
        right: -15px;
    }

    .ellipse-small>.avatar:nth-child(4) {
        top: -15px;
    }

    .ellipse-center {
        height: 40px;
        width: 40px;
        border: 0;
        border-radius: 10px;
        box-shadow: 0 0 50px 0px #26262630;
    }

    .ellipse-center img {
        width: 18px;
    }

    .hero-title.project-title,
    .work-title {
        font-size: 36px;
    }
}